[2018-07-06 21:32] jonogan opened #1 "Issues unpacking lo.tar.br"
Hi @vladgolubev,

I have been trying to use this package instead, but continue to have trouble. I saw that abdulbarik was able to get it working so I assume the issue is on my end. The function seems to hang on the getExecutablePath() function, and specifically the last line where it's piping the decompressStream. I've pasted my lambda function below, do you mind seeing if it's something in my imp

[2018-07-08 17:00] vladgolubev commented on #1
Hi @jonogan!

Can you please paste the output of Lambda? Especially what this code prints?

[code]

[2018-07-09 12:50] jonogan commented on #1
@vladgolubev I think I figured it out. I had created the lambda in the console instead of the CLI, and hadn't allocated enough memory to the function. When I upped it to > 300mb the function runs great! I did have a follow up. Should I move the call to getExecutablePath() outside of the main lambda async? Just wondering about calling it everytime the lambda runs vs just on the initial coldstart. A

[2018-07-09 13:18] vladgolubev commented on #1
@jonogan glad to hear that! You better keep `getExecutablePath()` inside the `handler`. It checks if an archive is unpacked and doesn't impact performance on subsequent invocations. In case `/tmp` folder was wiped out due to a cold start or by accident - it will unpack archive again and cache for future use.

[2018-07-09 13:42] jonogan commented on #1
Awesome! Thanks for the help! Closing this issue

[2018-07-09 13:42] #1 closed

[2018-07-31 17:20] devdeveloper95 opened #7 "version of LibreOffice"
What the version of LibreOffice you use?

[2018-07-31 20:51] vladgolubev commented on #7
Hey @devdeveloper95, right now the version it was last compiled with is `v6.1.0.0.alpha0`

[2018-07-31 20:56] devdeveloper95 commented on #7
@vladgolubev thank you for info.

[2018-07-31 20:56] #7 closed

[2018-08-27 13:20] interisti opened #15 "does not work with node6"
works as expected with node8, but we have all the lambdas locked to node6.
it throws `Error: Module version mismatch. Expected 48, got 57.` error.

 is there a instructions to how to generate `/src/iltorb/build/bindings/iltorb.node` for node 6?

[2018-08-27 13:44] vladgolubev commented on #15
You can grab old version of `iltorb` from the repo I forked - https://github.com/alixaxel/chrome-aws-lambda/commit/972ea78bdcc10eb0875305818df99604fc2335a8#diff-be1b196d9da17347884cbb68500e8151

This was the commit which changed the binary from node 6 to node 8

[2018-08-31 00:29] wobeng opened #16 "converting pdf to pdf"
Hi,

Thank you for libreoffice  lambda

I tried converting pdf to pdf

[wowza.pdf](https://github.com/vladgolubev/aws-lambda-libreoffice/files/2338353/wowza.pdf)

to

[wowza-converted.pdf](https://github.com/vladgolubev/aws-lambda-libreoffice/files/2338355/wowza-converted.pdf)

do you have a solution for the edges that have been cut off

[2018-08-31 12:36] vladgolubev commented on #16
@wobeng I guess this is a bug to report to the LibreOffice. There are no parameters to configure when you resave pdf. Same will appear in the desktop software

[2018-09-03 11:51] #16 closed

[2018-09-04 21:54] #15 closed

[2018-10-05 07:24] krisalay opened #28 "PDF conversion for the password protected doc file"
Hello,

I am trying to convert the password protected .docx file to pdf using this nodejs package.
But I am not able to figure out the way to do so. Can you please let me know the best way to achieve this functionality?

[2018-10-05 08:32] vladgolubev commented on #28
Hey @krisalay!

I'm glad you found my package useful, but unfortunately, I haven't worked with password-protected files so can't advise you on this topic.

However, if you find a way to do this from LibreOffice CLI you can pass any arguments you want to `execSync`, as all it does is wrapping original LibreOffice CLI

[2018-10-05 09:02] krisalay commented on #28
@vladgolubev Thank you for your quick response. I will try to do it using the CLI.

[2018-10-05 13:20] krisalay commented on #28
@vladgolubev
I have another issue.
I am running my service in kubernetes with 32 replica sets. And I passes about 11k requests to the server for the conversion process.
For about 1.5k requests, I get the following error:

[code]

Can you please let me know what the issue is?

[2018-10-05 13:35] krisalay commented on #28
@vladgolubev  Thanks, I will look into it.

[2018-10-05 13:45] #28 closed

[2018-10-05 15:04] ncruces commented on #28
About that, @vladgolubev (this only working in AWS).

First of all, thanks for this package. Helped me tremendously.
I've been meaning to say this, and wasn't sure where.

I can report that this package works out-of-the-box in [Google Cloud Functions](https://cloud.google.com/functions/) (and I imagine [Firebase](https://firebase.google.com/docs/functions/)), as long as I select the beta [Node.js

[2018-10-05 15:07] vladgolubev commented on #28
Thanks for the info @ncruces! I'll add this to `README`

[2018-11-27 20:42] headz68 opened #37 "Is this no longer supported?"
NPM says the package is deprecated. This seems like a more elegant solution for Lambda than others.

[2018-11-28 11:21] vladgolubev commented on #37
Hey @headz68

I deprecated this package https://www.npmjs.com/package/aws-lambda-libreoffice in favor of this https://www.npmjs.com/package/@shelf/aws-lambda-libreoffice

This should install the new one:

[code]

[2018-12-03 16:36] ncruces commented on #28
Package as changed since I've used it last. I don't use this out-of-the-box any more. I also don't recognize that error message.

Things to look for: are you using Node.js 8 Beta?
Do you have sufficient memory to deploy this (you need at least 1 GB)?

I'm using the same LibreOffice binaries compiled here (lo.tar.br), so I'm sure those work. But I'm using Go instead of Node.js. Cloud Functions Go i

[2018-12-03 21:34] eckastudio commented on #28
Thanks @ncruces for your answers !!!
I found my error ... I use a local LibreOffice on local env for testing and this awesome plugin in prod env ... Bad "if" implementation ...

And I can confirm ... the plugin is still working out-of-the-box on Cloud Functions !!! :)

Thanks to all !!!

[2018-12-16 20:24] vladgolubev opened #38 "Publish as a Lambda Layer"
Due to such a huge size this dependency is heavy to install locally. Also it takes time to bundle and deploy. Ideal fit for Lambda Layers!

[2019-01-09 14:54] DaveCollinsJr opened #39 "How to troubleshoot if not converting?"
Thanks for putting this together!

I'm having an issue where the call to convertFileToPDF is returning *success*, but no file is created.  This is using AWS Lambda with Node.js 8.10.  I have tried with both  a .docx and a .pptx.  I have verified that my local LibreOffice can read both files.

From the logs it appears it spent about 20 milliseconds on the conversion (which seems way too fast even f

[2019-01-11 13:33] DaveCollinsJr commented on #39
OK this is working now.  Not sure what the issue was, but if anyone is having trouble, using a variant of the "if you want more control" worked for me:
[code]

[2019-01-11 13:33] #39 closed

[2019-01-27 14:13] ssinghi opened #40 "update libreoffice version"
It will be great if the package can be upgraded to LibreOffice version 6.1.4 or something stable currently it is using an alpha build.

[2019-02-27 14:31] spyridonas opened #41 "Error while loading shared libraries"
Lambda says

[2019-02-28 15:15] #41 closed

[2019-03-06 06:36] andywgarcia commented on #38
@vladgolubev Quick and dirty because I thought the same thing. Here you go! https://github.com/wisedoc-inc/libre-office-lambda-layer

[2019-03-13 06:07] andywgarcia opened #43 "Fonts are not getting transferred"
I am using this to convert a word document to a PDF document in AWS lambda and I have the word document in Times New Roman, but the PDF that is created does not use the Times New Roman font. I am not sure if this is an issue with the packaged libre office or this npm package though.

[2019-03-13 08:20] eduardoferrari commented on #43
This packaged version have just arial I think, I had the same problem... to solve, I have copied the windows fonts that I needed and include inside of the .br file. But of course, the package get bigger.

[2019-03-14 01:06] andywgarcia commented on #43
@eduardoferrari Do you know if there is a way to do this without modifying the br file? Also, can you list the steps of how to include it in the br file?

[2019-03-14 06:31] eduardoferrari commented on #43
Hi @andywgarcia, the file lo.tar.br is compressed using this tool from google: https://github.com/google/brotli/blob/master/c/tools/brotli.md

Inside of this file, you have this folder "instdir/share/fonts/truetype" basically you need to copy your truetype fonts to this folder.

You can also, during the runtime copy the fonts to this folder, since the lambda decompress the file into /temp folder,

[2019-05-30 00:55] Shion093 opened #65 "Is there a way to run this locally?"
I'm using serverless-offline on MacOS, when I try to run the converter locally it says

[code]

Is this meant only for running on a deployed environment or there is another way to make ti work locally?

Thanks

[2019-05-30 15:48] vladgolubev commented on #65
Hey @Shion093

Right now local support is not even planned to be supported. That would imply a huge amount of work to compile LibreOffice for each OS, or expect user to have a specific LibreOffice installed...

[2019-05-30 17:09] Shion093 commented on #65
Thanks for the reply.

I ended up running an Ubuntu VM and it works!!

Thanks for this awesome package, really appreciate it.

[2019-05-30 18:45] #65 closed

[2019-06-12 13:55] vladgolubev commented on #38
Done https://github.com/shelfio/libreoffice-lambda-layer
Version 2.0.0 works only with that layer now

[2019-06-12 13:55] #38 closed

[2019-07-08 23:30] aaronsturm opened #83 "no such file or directory, open '/opt/lo.tar.br'"
Hello,

I'm testing this using the AWS SAM cli and keep getting these errors. I'm using the node 8.10 runtime and bumped the memory up to 3008 just to make sure.

[code]

Here is the relevant code:
[code]

Any assistance would be appreciated. Thank you!

[2019-07-09 14:12] aaronsturm commented on #83
Nevermind, it seemed my template.yaml file got rewritten from a commit rollback (or something else) and I lost the Layers entry.

[2019-07-09 14:12] #83 closed

[2019-07-14 01:24] aaronsturm commented on #40
Sending a quick ping on this as the last comment was in January. I would also appreciate a current version. Thanks!

[2019-07-17 14:22] renovate[bot] opened #87 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Cannot find preset's package (github>shelfio/renovate-config)

[2019-08-14 20:21] aaronsturm commented on #40
Hi @vladgolubev - Is there anything I can do to help this along? Since the Layer is tied to your AWS account, there's not much I can do besides creating my own layer? I'm newer to Lambda Layers so I'm not 100% sure.

[2019-08-15 07:53] vladgolubev commented on #40
Hey @aaronsturm

What would help is if you try to compile a newer version yourself and open a PR with changes to the compilation script. I’ll merge it and publish as a new layer version.

Last time I tried compiling newer version a month or two ago I ran into OS dependencies problems since LO removed some of the compilation flags.

I hope something changed in the recent 6.3 release but someone nee

[2019-08-15 08:43] tommiii opened #98 "Error: Cannot find module '/var/task/node_modules/@shelf/aws-lambda-brotli-unpacker/src/iltorb'"
I'm getting this error when I call convertTo, I've installed the package from npm. Any clue?

[2019-08-15 08:45] vladgolubev commented on #98
Hey @tommiii, what version of Node are you using?

[2019-08-15 08:52] tommiii commented on #98
My lambda runs with node 8.10, if I try locally I get:
`dlopen(/Users/tommi/myProject/node_modules/@shelf/aws-lambda-brotli-unpacker/src/iltorb/build/bindings/iltorb.node, 1): no suitable image found.  Did find:
	/Users/tommi/myProject/node_modules/@shelf/aws-lambda-brotli-unpacker/src/iltorb/build/bindings/iltorb.node: unknown file type, first eight bytes: 0x7F 0x45 0x4C 0x46 0x02 0x01 0x01 0x00`

[2019-08-15 09:02] vladgolubev commented on #98
What environment are you deploying your project from? Is it local or CI? I guess the environment which installs dependencies and packages lambda artifact archive needs to be Node 8.10 as well

[2019-08-15 09:11] tommiii commented on #98
with CI I have Node.js v8.10.0 + NPM 6.1.0

[2019-08-15 23:36] aaronsturm commented on #40
@vladgolubev  - To confirm, it's this repository vladgolubev/serverless-libreoffice correct? I'll take a try at it and get back to you.

[2019-08-16 08:22] vladgolubev commented on #40
@aaronsturm yes, that's where compilation script resides in

[2019-08-23 12:52] tommiii commented on #98
I've found the issue. This package https://www.npmjs.com/package/serverless-plugin-reducer was excluding dependencies

[2019-08-23 12:52] #98 closed

[2019-09-11 17:51] aaronsturm commented on #40
@vladgolubev - A quick update on this. It's currently stuck when trying to compile `cairo`. I've tried the compilation flags it mentions without success. I saw somewhere that you're a NodeJS dev who spent the time to figure out how to compile LibreOffice - I'm basically in the same boat but I will keep at it.

...
In file included from /usr/include/assert.h:35:0,
                 from cairoint.h:5

[2019-09-13 16:18] slaponicus opened #114 "Certain characters in filename cause errors"
first off, I just wanted to thank you for this amazing library and the work you've put into it!

however, I did notice a small issue while using it - `canBeConvertedToPDF` returns `true` for files with certain characters (parentheses in my case) in the name, however the `convertTo` function throws the following error for the same file:

`/bin/sh: -c: line 0: syntax error near unexpected token `('`

[2019-09-16 09:01] vladgolubev commented on #114
Thanks for the heads up @slaponicus!

You might find https://github.com/sindresorhus/filenamify useful as well

[2019-09-16 09:01] #114 closed

[2019-10-10 10:44] krisalay opened #115 "Error while running the service in kubernetes"
[code]
I am getting the above error while running the service in kubernetes/docker.
According to the documentation: `Since version 2.0.0 npm package no longer ships the 85 MB LibreOffice.` So, how do we add libreoffice in the docker container?

[2019-10-17 09:59] vladgolubev commented on #115
Hello @krisalay

This project is aimed to work well in AWS Lambda environment. I can't guarantee it will work in Kubernetes

If you want to try to run it in docker - you can download `lo.tar.br` from here: https://github.com/shelfio/libreoffice-lambda-layer/blob/master/layer.zip

[2019-10-17 09:59] #115 closed

[2019-10-23 12:17] jaimesangcap opened #116 "question: how to convert s3 bucket files"
In the example, it assumes that the file is already in the `/tmp` folder.
Is there a way to convert files inside `s3` buckets?

I'm thinking of creating a trigger for the lambda whenever there is a file uploaded in s3.
Is that possible?

[2019-10-23 12:23] eduardoferrari commented on #116
You cannot process the file directly there, your case is the same of my, I have a trigger when a file is uploaded, than my lambda fetch the file from S3 to the /tmp, process and than, copy the result from /tmp to other folder on the S3.

[2019-10-23 13:09] vladgolubev commented on #116
@eduardoferrari provided a great answer. It's not technically possible, S3 is not a file system but rather a REST API.

[2019-10-23 13:09] #116 closed

[2019-10-23 19:45] jaimesangcap commented on #116
I appreciate your prompt response. I also found out about a demo how to do it where it downloads the S3 into the /tmp folder.

`const {writeFileSync, readFileSync} = require('fs');
const {execSync} = require('child_process');
const {parse} = require('path');
const {S3} = require('aws-sdk');

// This code runs only once per Lambda "cold start"
execSync(`curl https://s3.amazonaws.com/lambda-libreoff

[2019-10-24 08:05] dawaltconley opened #117 "@shelf/aws-lambda-brotli-unpacker compiled against a different Node.js version"
Getting the following error when trying to run this in a node 10.x lambda runtime. Assume it's related to [the brotli unpacker not being updated to node 10.](https://github.com/shelfio/aws-lambda-brotli-unpacker/pull/65)

[code]

Full disclosure, haven't yet gotten a successful run on a 8.10 runtime yet so I'm not 100% sure it's that but seems likely.

If node 10.16 has native brotli support, is i

[2019-10-24 17:33] DanHulton commented on #40
I took a swing at this and managed to get it to compile with LibreOffice 6.3.2, but with a bunch of experimental steps.  I'm honestly not sure which were strictly necessary to successfully build, and which were a bit of a blind alley.  That said, here's my notes:

- Start with https://github.com/vladgolubev/serverless-libreoffice, specifically the `compile.sh` shell file.
- Before running autogen.

[2019-10-28 08:53] mrvisser commented on #40
@DanHulton This is great stuff, thanks for this. For what it's worth, I was plugging away on this in the last week and came up with mostly the same conclusions you did, though didn't package it up and run it on Lambda as I couldn't get around unit test failures that seem to be be related to freetype2.

In addition to compiling gperf-3.1 and flex-2.6.4, I also compiled and installed freetype-2.10.1

[2019-10-28 15:56] mrvisser commented on #40
I tried `--without-fonts` and it seemed to work fine. `--without-fonts` keeps the package size at 85M/350M. By removing the `--without-fonts` flags we're at 100M/410M, which is cutting even closer to the 500M `/tmp` volume limit

[2019-11-19 19:50] harshitgupta commented on #117
Hey @vladgolubev, did you get the chance to look at the issue? Thanks

[2019-11-20 14:54] vladgolubev commented on #117
Hey @harshitgupta, unfortunately, I haven't looked at this yet

[2019-11-20 19:28] harshitgupta commented on #117
@vladgolubev do you have any timeline in mind? Given that the AWS team has a deadline of Jan 6, 2020, for Node 8.

[2019-11-20 20:33] eduardoferrari commented on #117
I don't know if is useful for everybody here, but I'm working in a Python version to unpack the Brotli and than, other Python code to run it.... I haven't create yet a Git repo for it, I'm doing tests on my PC only... Just to check if is possible.... I'm using the [lambda-layer](https://github.com/shelfio/libreoffice-lambda-layer) as a base for me.

[2019-11-20 21:09] harshitgupta commented on #117
no offense but would anybody be willing to take a bounty in order to resolve this issue in timely manner?

[2019-11-22 00:07] ru-zar opened #118 "Changing LibreOffice settings?"
Hi, big fan of your work here.

Do you have any ideas how I could set LibreOffice settings? I want to make [some changes](https://gist.github.com/ru-zar/3829f43cd8e8e242549b49e842aee23d) that make Excel files calculate their formulas when converting xlsx to PDF.

On my Fedora system, libreoffice config gets saved in ~/.config/libreoffice.

I'm poking around on my Lambda instance and I can't find a

[2019-11-22 16:35] ru-zar commented on #118
I think by uncompressing the brotli archive and editing share/registry/main.xcd I might be able to tweak the config I need.

[2019-11-22 22:02] #118 closed

[2019-11-23 03:51] dawaltconley commented on #117
It's a little out of my depth but I can give it a crack in December if nobody has gotten around to it by then. Would basically be following / debugging [this](https://github.com/vladgolubev/serverless-libreoffice/blob/master/compile.sh) on Amazon Linux 2.

[2019-12-16 21:47] eduardoferrari commented on #117
I was able to recompile the solution on Amazon Linux 2, no errors during the compilation, the scripts ran if no problems, but I got some errors trying to run the libre office. :( My tests with python also had no success... I really don't know how to continue...

[2019-12-27 20:29] eduardoferrari commented on #117
Ok Guys, after this update, https://github.com/shelfio/aws-lambda-brotli-unpacker/pull/83 what we need to do to solve everything? :)

[2020-01-04 16:17] sebastienfi commented on #41
@spyridonas can you please tell me what was your problem here and how you solved it?

[2020-01-04 16:23] spyridonas commented on #41
I tried other versions of libreoffice from https://github.com/vladgolubev/serverless-libreoffice/releases/ and I think I ended up with 5.4.3

[2020-01-05 02:14] vladgolubev commented on #40
Good news: I was able to compile & run LibreOffice in the Node.js 12.x environment.
Bad news: its size is ~400 MB

[2020-01-05 02:15] vladgolubev commented on #117
Good news: I was able to compile & run LibreOffice in the Node.js 12.x environment.
Bad news: its size is ~400 MB

The goal is to make it <250 MB when unzipped, which is what I'm working on right now

[2020-01-06 04:43] harshitgupta commented on #117
I just want to mention one fact here that the lambda layer size counts against the lambda size(250 MB) itself so if someone could bring the size near to <250 MB, there wouldn't be much space left for the rest of the business logic and corresponding node modules.

In that case, the solution would be to deploy a very basic lambda with only LibreOffice(this module) as a dependency and call this lambd

[2020-01-06 10:16] sebastienfi commented on #41
Thanks!

[2020-01-06 19:43] iamrahulroy commented on #98
@vladgolubev I'm facing the same issue. I do not have a reducer plugin in my project. Here's the stack trace:

[code]

I have tried it with both node 8 & node 10 on OSX.

[2020-01-06 23:00] vladgolubev commented on #98
@iamrahulroy this package is compiled to run on Amazon Linux only, it won't run on OSX. If you want to run this part of your project locally, you'll probably need smth like https://github.com/lambci/docker-lambda to reproduce the real Lambda environment with Amazon Linux

[2020-01-07 21:13] tupini07 commented on #40
@vladgolubev That's great news! Is there any way we could help? Now that AWS deprecated NodeJS 8 it would be great to get this working again on one of the supported versions

[2020-01-13 14:03] tadasauciunas opened #127 "/tmp/instdir/program/soffice.bin: error while loading shared libraries: libmergedlo.so: cannot open shared object file: No such file or directory"
Hello, I am having problems when converting files to pdf in lambda using the eu-west-1 layer (https://github.com/shelfio/libreoffice-lambda-layer, tried both gzip and brotli options). I am using the 3.0.0 version of @shelf/aws-lambda-libreoffice.
I use AWS SAM to deploy the lambda to AWS and the strange thing is that there are no problems locally.
This is the error that I get when trying to conver

[2020-01-13 14:50] vladgolubev commented on #127
Hey @tadasauciunas,

which version of Node.js runtime do you use?

[2020-01-13 15:07] tadasauciunas commented on #127
10.x

On Mon, Jan 13, 2020 at 4:50 PM Vlad Holubiev <notifications@github.com>
wrote:

--
Pagarbiai,
Tadas Aučiūnas

[2020-01-13 15:07] tadasauciunas commented on #127
I can try switching to 12.x, got an unsupported version error previously
when doing it, but I'll investigate why was that the case.

On Mon, Jan 13, 2020 at 5:06 PM Tadas Aučiūnas <tadas.auciunas@gmail.com>
wrote:

--
Pagarbiai,
Tadas Aučiūnas

[2020-01-13 17:29] maaraanas commented on #127
10x version can't run this code, sorry, there is 12> ;)

[2020-01-13 17:41] harshitgupta commented on #117
any update on this?

[2020-01-13 17:42] vladgolubev commented on #117
Hey guys, yes, there are updates!

Last Friday we've published a new version which works with Node.js 10 and 12

Check out https://github.com/shelfio/aws-lambda-libreoffice/releases/tag/v3.0.0 and project README

[2020-01-13 17:42] #117 closed

[2020-01-13 17:43] vladgolubev commented on #40
Hey there, we've just released a new version which works with the new LibreOffice version 6.4.0.1

See https://github.com/shelfio/aws-lambda-libreoffice/releases/tag/v3.0.0 and https://github.com/vladgolubev/serverless-libreoffice/releases/tag/v6.4.0.1

[2020-01-13 17:43] #40 closed

[2020-01-13 21:31] eduardoferrari commented on #127
Hi maaraanas, I tried to use 12.x but I'm still getting the error above "/tmp/instdir/program/soffice.bin: error while loading shared libraries: libssl3.so: cannot open shared object file: No such file or directory"

I have just make a yarn upgrade to get the version 3.0.1 (I deleted my node_modules folder first to be sure that I have everything new)

Thank you all

[2020-01-14 06:37] tadasauciunas commented on #127
Same, upgrading to node 12.x did not change anything, error remains the same.

[2020-01-14 07:18] tadasauciunas commented on #127
The lambda works as expected if being run locally in a docker container (image samcli/lambda:nodejs12.x-06f66392c3d4afebbcae4a6b2, https://github.com/lambci/docker-lambda/tree/master/nodejs12.x)
Maybe that could provide answers, since this obviously means the environments are somewhat different.

[2020-01-14 10:54] mayurchoksi opened #129 "com::sun::star::container::NoSuchElementException - On Amazon Linux 2 (Karoo) with Nodejs 10"
I am using arn:aws:lambda:us-east-1:764866452798:layer:libreoffice-gzip:1 and trying to test the function locally (MacOS) using aws-sam-cli (SAM CLI, version 0.40.0)

I get the following error:
ERROR	Invoke Error	{"errorType":"Error","errorMessage":"Command failed: cd /tmp && /tmp/instdir/program/soffice.bin --headless --invisible --nodefault --view --nolockcheck --nologo --norestore --convert-to

[2020-01-15 08:35] tadasauciunas commented on #127
Found the issue. Apparently, the memory that I was allocating to the lambda function was too low, therefore it probably was not able to extract the LibreOffice archive successfully, and some files were missing during the conversion.

[2020-01-15 08:35] #127 closed

[2020-01-16 18:49] BradleyDHobbs opened #130 "Cannot read property "1" of null"
I'm running this package inside of lambda to process many documents simultaneously. It's working great.

However, I'm getting this issue when lambda runs one of my documents.

Here's the error:
`{
  "name": "DocumentConversionFailed",
  "input": {
    "Error": "TypeError",
    "Cause": "{\"errorType\":\"TypeError\",\"errorMessage\":\"Cannot read property '1' of null\",\"trace\":[\"TypeError: Canno

[2020-01-18 05:28] d3netxer commented on #129
I am also getting this error when I am testing the libreoffice gzip (https://github.com/shelfio/libreoffice-lambda-layer/blob/master/layer.tar.gz.zip). I tested running the convert-to commands on my the command line in my Ubuntu 18.04 virtual machine.

I do not get this error with the layer.tar.br.zip

Running the convert-to command with the layer.tar.br.zip is hanging up often when I try to conve

[2020-01-28 17:09] harshitgupta commented on #130
@BradleyDHobbs Can you please elaborate more on how you resolved it?

I am facing the same issue. In my case, I am generating the word document using an npm module called `docx-merger` (merges multiple word documents) and facing this error while converting it to PDF.

[2020-02-04 16:29] jayeshkulkarni opened #133 "Blank PDF's getting generated for subsequent uploaded document"
@shelfio/aws-lambda-libreoffice Version: 3.0.1

Problem: First time when libre lambda function is invoked, it works well giving desired output of pdf however if i submit multiple document for conversion then it generates blank pdf's.

Code snippet: (handler.js)

[code]

Observation :
Lambda timeout period is 15 min . If i try invoking lambda after 15 min, it will work and generates correct output

[2020-02-07 10:22] LLDmitry opened #134 "Can't convert any msg and some docx files to pdf"
Lambda nodejs10 + lambda layer libre_office with Brotli.
On attempt to convert docx document where section "Table of Contents", i get error "Please verify input parameters... (SfxBaseModel::impl_store file:///tmp/file.pdf failed: 0xc10(Error Area:Io Class:Write Code:16))"
In result of conversion *.msg files I get unreadable pdf files with mix of ???? symbols + original text

[2020-02-14 18:05] vladgolubev commented on #127
Thanks @tadasauciunas

I've added your comment to the [Troubleshooting](https://github.com/shelfio/aws-lambda-libreoffice#troubleshooting) section in the readme

[2020-02-26 14:53] tupini07 opened #136 "Sometimes conversion exceeds RAM limits"
First of all I want to thank you for such an amazing tool!

### The issue

In my scenario, I have a lambda function (memory limit is set to _3008Mb_) that is _constantly_ invoked to convert different PPT(x)/DOC(x) documents to PDFs. Converting moderately big files (~30Mb) works fine, but converting large files of ~80Mb _sometimes_ fails.

I noticed that it doesn't fail when the lambda is executed

[2020-02-28 20:02] tupini07 commented on #136
Closing this issue since the actual problem seems to be something completely unrelated, and has nothing to do with the RAM.

[2020-02-28 20:02] #136 closed

[2020-03-13 14:09] tadasauciunas opened #137 "Password protected documents are not handled successfully"
In our use case, password protected documents are quite common. People try to preview them, and the lambda conversion function fails because obviously the files are encrypted. I do believe that it's expected behavior for these conversions to fail, but fail in a user-friendly manner.

Currently, this case ends up in a JS error:
`Cannot read property '1' of null`
It's thrown by this line of code htt

[2020-03-26 17:53] v1siond opened #140 "Convert only one page of the document"
Hello, first of all, great job on this, works like a charm. This is not really an issue, but more like a question/feature request, it's possible to only transform one page of the document instead of all the document?

IE: Having a `pages=X` variable that allows you to limit the page of the documents that going to be converted

If the answer is "no", there's a possibility that this will be implemen

[2020-04-21 11:08] iamrahulroy opened #142 "Big CSV files(100+ MB) timing out at max resources"
I wonder how you deal with big files?

**Lambda Settings**
- 3000 MB Ram
- Timeout is 15 minutes

The conversion process is taking all the time. There are no other heavy operations. Other operations account for less than 500ms.

One solution is to split the files into manageable pieces, process it independently, and join it together once processing is complete. Is that a good solution?

@vladgolub

[2020-04-25 08:11] iamrahulroy commented on #134
@LLDmitry were you able to debug the issue?

[2020-05-06 16:00] BradleyDHobbs opened #143 "LibreOffice can support image conversion"
Any reason why canBeConvertedToPDF return false for images even though LibreOffice can convert the most popular image types to pdf?

For example, PNGs can be converted to pdf fine with LibreOffice.

[2020-07-10 20:12] jessrosenfield commented on #65
I disagree that local support requires bundling and unpacking the program for each OS. Ideally I'd be able to run the API locally by providing my own path to LibreOffice and skipping the unpacking step.

[2020-07-10 20:14] jessrosenfield commented on #65
Alternatively, is there a local complement with the same API that I can run locally? (Akin to using `puppeteer` locally vs `chrome-aws-lambda` remotely?)

[2020-07-20 14:50] LLDmitry opened #148 "Convert html to pdf"
Hello
A couple mistakes on converting html->pdf:
I need convert  msg files to pdf. As LibreOffice can't convert msg to pdf directly, i do pre-conversion msg-> html by another converter app. And AWS Lambda with LibreOffice converts this html to pdf.
Result pdf contains empty, extra first blank page and doesn't contain "From" email part. I've tried desktop LibreOffice app, it converts the same html

[2020-08-06 23:13] barooahn commented on #133
I have the exact same issue.  Did you manage to solve the problem?

[2020-08-07 05:15] jayeshkulkarni commented on #133
@barooahn  I was managed to resolve the issue. Issue is not with library. Because of nodejs asynchronous nature, it gives this issue.

[2020-09-07 08:18] killarneyman opened #151 "File not being created, failing silently"
I have experienced an issue similar to this -  #39

It's periodic, soffice.bin returns the expected `convert /tmp/whatever.docx -> /tmp/whatever.pdf using filter : writer_pdf_Export` as expected, but the file is not created.
I tried following a similar path as in issue #39 , but it appears those changes have already been implemented into the library.

The file converts as expected using a similar

[2020-10-16 08:31] ShaMan123 opened #152 "local testing"
I am rather clueless regarding the functionality of this repo but I would suggest replacing all static `tmp` with `os.tmpdir()` to enable local testing as well.
OK, rephrasing, I'd love documentation regarding local testing on non `linux` machines.

[2020-12-07 13:09] kaumudpa opened #153 "We should fork this for Google Cloud Fuunctions too."
We should create a fork of this to support google/firebase cloud functions.

https://github.com/vially/cloud-functions-libreoffice
this fork was created but is unmaintained.

Is anyone willing to collab for the same?

[2020-12-17 22:22] Dizmus opened #155 "Failed to convert if instance of lambda if re-used"
Hello,

Please try the Lambda Function source code attached.

Issue is reproduced when running two requests, one after another. In this case, instance of Lambda Function is reused and all next calls will be failed.

If you wait couple of minutes for Lambda instance to shutdown, it will run normal

[LibreOfficeNPM.zip](https://github.com/shelfio/aws-lambda-libreoffice/files/5712446/LibreOfficeNPM.z

[2021-01-04 15:04] evrardts commented on #155
Hey @Dizmus have you found a solution to your issue? I am facing the same problem here.

[2021-01-04 15:14] Dizmus commented on #155
Hi @evrardts ,
No, I am finished with hosting a custom service on Fargate.

Just used an Alpine Docker image and installed libreoffice with all it's dependencies.

P.S. Docker in Lambda with Libreoffice also doesn't work, since Lambda doesn't really runs docker image. It just grabs the dependencies. While it works locally on Docker daemon, it doesn't on Lambda

[2021-01-05 13:35] evrardts commented on #134
Same issue here, @LLDmitry @iamrahulroy  have you found a solution for that issue? Thanks!

[2021-01-05 13:38] iamrahulroy commented on #134
Hi, @evrardts! Honestly I don't remember, but it looks like a font issue with file.

[2021-03-12 07:07] jpike88 commented on #143
yeah, im getting a 'file is not convertible to pdf' and that's a real pain.

[2021-05-03 07:59] maurice-ellis commented on #155
Just incase anyone runs into this issue later. The error I kept getting if reused was that the default font config file was not found. I followed these steps to create a `fonts.conf` file for my function after now 6 tries, it runs smooth as butter. Even checked to see if it was already unpacked before unpacking again.

[https://stackoverflow.com/a/51622335](Create fonts.conf)

[2021-06-24 15:27] bogdankharchenko commented on #133
@jayeshkulkarni what was the solution?

[2021-06-30 23:22] andrijan commented on #133
@bogdankharchenko - I don't know what his solution was, but here is how I fixed it:

Before:
[code]

After:
[code]

[2021-07-01 00:52] bogdankharchenko commented on #133
thank so much @andrijan

Using `writeFileSync` vs async definitely solved my problem as well!

❤️

[2021-07-30 11:07] martijndierckx opened #163 "LibreOffice 7.0.6.2"
I've updated the dockerfile, but I'm getting a build error:
Any ideas what I'm missing?

[code]

[code]

[2021-08-05 11:48] SanvirDessai commented on #43
Just to add to @eduardoferrari's answer, the files are only extracted when  `convertTo` is called, so that will have to happen before transferring the fonts if you are doing it at runtime.

[2021-08-07 19:09] anjanvb commented on #155
I can confirm that @maurice-ellis' method works. It makes the bundle size large though so I am going to try making the fonts in it's own layer.

[2021-08-19 21:32] cesarpachon opened #165 "convertTo docx generates blank document"
hello! when I try the convertTo method from odt to pdf it works fine, but if I change pdf to docx, the result is a blank document.

I did an extra test running the --convert-to docx command in my local machine (ubuntu), extracted both zip files and compared the content.
I noticed that the [content-types].xml differs, the final part in the local test is:
` ContentType="application/vnd.openxmlformat

[2021-08-20 16:29] #165 closed

[2021-08-20 17:45] cesarpachon commented on #155
hello, I am getting blank documents after the first successful attempt; even after  I got rid of the font config file error message.
In my case I am opening a odt file and saving to pdf. the first time it renders OK, the second time it renders blank with no error messages.

[2021-08-30 22:30] matthias-schoeneich opened #166 "Suggestion: increase memory recommendation"
Hi,

using your project and it works very nice

However when documents reach a certain complexity, libreoffice fails to start and therefor is unable to render.  We use carbone.js to replace parameters in template files and create pdfs. We used the minimum recommended memory setting 1536mb.

On the other hand [aws docs](https://docs.aws.amazon.com/lambda/latest/dg/configuration-function-common.html

[2021-11-22 18:11] kuharan commented on #137
Hi @tadasauciunas . My ask is a little different from the one you posted but on the same subject. I want to know the parameter to pass the "password" in the soffice command so that the word document opens and converts to a pdf. Currently, all my docs without passwords work fine except for the ones with passwords.

The error I am getting is -

[code]

[2022-01-18 04:08] Jun711 opened #169 "It seems to crash with docx larger than a certain size"
It works perfectly most of the time but certain documents make it crash. I suspect it is document size as the document I tried was 5MB. Desktop Libreoffice is able to convert this docx [Real Property Casebook _ text.docx](https://github.com/shelfio/aws-lambda-libreoffice/files/7885644/Real.Property.Casebook._.text.docx) to pdf.

I am not sure if there are special characters in the document that ma

[2022-01-18 09:19] vladgolubev commented on #169
Yes, this looks like a bug in the Libreoffice itself. I've seen problems with larger documents as well

[2022-01-19 02:47] Jun711 commented on #169
ok, maybe the newer version would work.

btw, when that happens, aws-lambda-libreoffice/lib/convert.js would throw an error as it fails to rm the input file.

[code]

[2022-01-24 09:15] cfoehrdes commented on #163
I have created a successful LibreOffice 7.3.0.2 build (Docker on M1 MacBook Pro) using the following Dockerfile:

[code]

[2022-02-15 10:41] jpike88 commented on #163
@cfoehrdes I tried to compile (M1 Max) but ended up waiting like 30 mins for

[code]

Would you be so kind as to share your compilation output file? :)

[2022-02-15 10:55] cfoehrdes commented on #163
@jpike88 sure, I shared it using Dropbox: https://www.dropbox.com/s/l9oorkwy60eth1b/layers.zip?dl=1

[2022-02-16 04:03] jpike88 commented on #163
looks like I have one missing ingredient, the /lib folder that came with the older version, shared libraries. I'm having trouble finding them on the docker image that got built.

@vladgolubev any pointers here?

[2022-02-16 04:10] jpike88 commented on #163
never mind, found them. though am curious to know how you selected the appropriate subset... all good ill keep poking at it

[2022-02-22 22:30] botton18 commented on #163
@cfoehrdes Thank you for sharing your zip file. I have created a new layer with your package but I'm getting an error `/bin/sh: /tmp/instdir/program/soffice.bin: cannot execute binary file`. Would you happen to know a way to go about this? Thanks for the help!

[2022-03-02 03:00] julianpitt commented on #151
I'm getting the same error, expect my output is  `using filter : impress_pdf_Export`.
Tried debugging but not having much luck

[2022-03-09 17:41] arvinAM17 commented on #169
I get this error as well, even with smaller files. I put the file 'document.docx' in the tmp folder right in the function environment, and it gives me
`"errorType": "Error",
  "errorMessage": "Command failed: rm /tmp/tmp/document.docx\nrm: cannot remove ‘/tmp/tmp/document.docx’: No such file or directory\n"`
And logs `Error: source file could not be loaded` as well. Any solutions?

[2022-06-03 22:12] crsepulv opened #172 "default input / output path"
there is a way to change default path for convertTo()? it takes the fiole from /tmp and write on the same directory, there is a way to change to a differents path?

[2022-06-20 20:24] vladgolubev commented on #129
We've [released a major version](https://github.com/shelfio/aws-lambda-libreoffice/releases/tag/v4.0.0) of this package that works with the latest LibreOffice 7.3!

[Check out the docs for a new package here.](https://github.com/shelfio/aws-lambda-libreoffice#usage-for-version-4x-based-on-a-lambda-docker-image)

We're not going to support the previous version of a package that worked with a Lambda

[2022-06-20 20:24] #129 closed

[2022-06-20 20:24] vladgolubev commented on #130
We've [released a major version](https://github.com/shelfio/aws-lambda-libreoffice/releases/tag/v4.0.0) of this package that works with the latest LibreOffice 7.3!

[Check out the docs for a new package here.](https://github.com/shelfio/aws-lambda-libreoffice#usage-for-version-4x-based-on-a-lambda-docker-image)

We're not going to support the previous version of a package that worked with a Lambda

[2022-06-20 20:24] #130 closed

[2022-06-20 20:25] vladgolubev commented on #140
PRs are welcome! We're not going to implement it ourselves in the near future, as we don't need such feature.

[2022-06-20 20:25] vladgolubev commented on #142
Did you try giving Lambda 10 GB of RAM? Should help now.

[2022-06-20 20:25] #142 closed

[2022-06-20 20:26] vladgolubev commented on #148
We've [released a major version](https://github.com/shelfio/aws-lambda-libreoffice/releases/tag/v4.0.0) of this package that works with the latest LibreOffice 7.3!

[Check out the docs for a new package here.](https://github.com/shelfio/aws-lambda-libreoffice#usage-for-version-4x-based-on-a-lambda-docker-image)

We're not going to support the previous version of a package that worked with a Lambda

[2022-06-20 20:26] #148 closed

[2022-06-20 20:27] vladgolubev commented on #152
The testing script was adapted to run in Docker now, so should be fine on all machines!

We've [released a major version](https://github.com/shelfio/aws-lambda-libreoffice/releases/tag/v4.0.0) of this package that works with the latest LibreOffice 7.3!

[Check out the docs for a new package here.](https://github.com/shelfio/aws-lambda-libreoffice#usage-for-version-4x-based-on-a-lambda-docker-image

[2022-06-20 20:27] #152 closed

[2022-06-20 20:28] vladgolubev commented on #134
We've [released a major version](https://github.com/shelfio/aws-lambda-libreoffice/releases/tag/v4.0.0) of this package that works with the latest LibreOffice 7.3!

[Check out the docs for a new package here.](https://github.com/shelfio/aws-lambda-libreoffice#usage-for-version-4x-based-on-a-lambda-docker-image)

We're not going to support the previous version of a package that worked with a Lambda

[2022-06-20 20:28] #134 closed

[2022-06-20 20:30] vladgolubev commented on #143
The fix is simple. This helper function is exported for your convenience. You are not obliged to use it. Just invoke the `convertTo()` method directly without `canBeConvertedToPDF()`

[2022-06-20 20:30] #143 closed

[2022-06-20 20:30] vladgolubev commented on #133
We've [released a major version](https://github.com/shelfio/aws-lambda-libreoffice/releases/tag/v4.0.0) of this package that works with the latest LibreOffice 7.3!

[Check out the docs for a new package here.](https://github.com/shelfio/aws-lambda-libreoffice#usage-for-version-4x-based-on-a-lambda-docker-image)

We're not going to support the previous version of a package that worked with a Lambda

[2022-06-20 20:30] #133 closed

[2022-06-20 20:37] vladgolubev commented on #166
Added here: https://github.com/shelfio/aws-lambda-libreoffice#lambda-configuration

Thanks!

[2022-06-20 20:37] #166 closed

[2022-06-20 20:38] vladgolubev commented on #43
We've [released a major version](https://github.com/shelfio/aws-lambda-libreoffice/releases/tag/v4.0.0) of this package that works with the latest LibreOffice 7.3!

[Check out the docs for a new package here.](https://github.com/shelfio/aws-lambda-libreoffice#usage-for-version-4x-based-on-a-lambda-docker-image)

We're not going to support the previous version of a package that worked with a Lambda

[2022-06-20 20:38] #43 closed

[2022-06-20 20:38] vladgolubev commented on #155
We've [released a major version](https://github.com/shelfio/aws-lambda-libreoffice/releases/tag/v4.0.0) of this package that works with the latest LibreOffice 7.3!

[Check out the docs for a new package here.](https://github.com/shelfio/aws-lambda-libreoffice#usage-for-version-4x-based-on-a-lambda-docker-image)

We're not going to support the previous version of a package that worked with a Lambda

[2022-06-20 20:38] #155 closed

[2022-06-20 20:39] vladgolubev commented on #163
We've [released a major version](https://github.com/shelfio/aws-lambda-libreoffice/releases/tag/v4.0.0) of this package that works with the latest LibreOffice 7.3!

[Check out the docs for a new package here.](https://github.com/shelfio/aws-lambda-libreoffice#usage-for-version-4x-based-on-a-lambda-docker-image)

We're not going to support the previous version of a package that worked with a Lambda

[2022-06-20 20:39] #163 closed

[2022-06-20 20:39] vladgolubev commented on #169
We've [released a major version](https://github.com/shelfio/aws-lambda-libreoffice/releases/tag/v4.0.0) of this package that works with the latest LibreOffice 7.3!

[Check out the docs for a new package here.](https://github.com/shelfio/aws-lambda-libreoffice#usage-for-version-4x-based-on-a-lambda-docker-image)

We're not going to support the previous version of a package that worked with a Lambda

[2022-06-20 20:39] #169 closed

[2022-06-20 20:39] renovate[bot] opened #176 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [fix(deps): update dependency del to v6](../pull/175)

## Detected dependencies

<details><summary>circleci</summary>
<blockquote>

<details><

[2022-06-20 20:39] #87 closed

[2022-06-20 20:40] vladgolubev commented on #151
We've [released a major version](https://github.com/shelfio/aws-lambda-libreoffice/releases/tag/v4.0.0) of this package that works with the latest LibreOffice 7.3!

[Check out the docs for a new package here.](https://github.com/shelfio/aws-lambda-libreoffice#usage-for-version-4x-based-on-a-lambda-docker-image)

We're not going to support the previous version of a package that worked with a Lambda

[2022-06-20 20:40] #151 closed

[2022-07-03 07:54] jpike88 opened #181 "errors if filename doesn't have an extension"
if I have a filename with an extension, getConvertedFilePath fails

[2022-07-03 07:57] jpike88 commented on #181
maybe better to just generate a random hash instead of playing around with output filename possibilities, it's getting deleted anyway

[2022-07-03 08:17] jpike88 commented on #181
no, I found the real issue. title changed

[2022-07-03 08:17] #181 closed

[2022-07-13 16:08] musso opened #186 "Cannot destructure property `inputPath` of 'undefined' or 'null'"
When using
[code]
There is an error `Cannot destructure property `inputPath` of 'undefined' or 'null'`

Seem that need to enter the input path manually

[2022-09-20 17:58] SethO opened #210 "Hyperlinks Missing in PDF"
I am seeing an issue where my .docx file has a working HTTP link, but the PDF does not. In the PDF, it looks like a hyperlink, but neither mouse-overs nor mouse-clicks give any response.

Is this a supported feature? Or perhaps there is a configuration setting I'm missing?

I'm using `aws-labmda-libreoffice` v5.0.0 and `libreoffice-lambda-base-image` v7.4

Thanks for your feedback.

Seth

[2022-09-20 18:23] SethO commented on #210
I have confirmed that this is a link issue between our `docx` file generator and LibreOffice - it has nothing to do with this library.  Sorry to bother you. Closing the ticket.

Seth

[2022-09-20 18:23] #210 closed

[2022-09-23 22:00] zoemrob opened #211 "javaldx: Could not find a Java Runtime Environment!"
So I believe I followed the instructions, not sure if I missed something though.

`FROM public.ecr.aws/shelf/lambda-libreoffice-base:7.4-node16-x86_64

COPY index.js package.json ${LAMBDA_TASK_ROOT}

RUN npm install

CMD [ "index.handler" ]
`

This is my Dockerfile I have my app code in index.js.
I'm running `docker build --platform linux/x86_64 -t convert-to-pdf .` and then deploying that image t

[2022-09-23 22:03] zoemrob commented on #211
Only other relevant info: I'm running on an Apple Silicon M1, which is why I'm passing in the `--platform` argument.

[2022-09-29 17:27] #186 closed

[2022-09-29 17:28] vladgolubev commented on #211
Is this error specific to 1 file or happens with all even the simplest .txt files?

[2022-10-05 17:26] JagWireZ commented on #211
I see the same issue. Built on Apple M1 Mac, using the linux_amd64 platform, and the error arises within Lambda.

[2022-11-01 11:58] legome0937 commented on #211
![image](https://user-images.githubusercontent.com/98485373/199227268-1eb4884d-1447-4799-b311-688794addfd9.png)
I deployed to AWS. Please help me @vladgolubev

[2022-11-01 15:02] zoemrob commented on #211
[code]

Adding the `java-1.8.0-openjdk-devel` package did allow me to run this.

[2022-11-04 20:39] legome0937 commented on #211
docker build -t record2pdf .
docker tag record2pdf:latest xxxxxxxxxxxx.dkr.ecr.us-east-1.amazonaws.com/ecr-record2pdf:latest
docker push xxxxxxxxxxxx.dkr.ecr.us-east-1.amazonaws.com/ecr-record2pdf:latest

I used above cmd to build and push image to AWS lambda.
But convertTo is not working.
![image](https://user-images.githubusercontent.com/98485373/200069737-03c84de8-c5a7-4505-945f-9b5bc39562f2.pn

[2022-11-05 01:21] legome0937 commented on #211
Thanks! It works well